// IMPORT
@import "../abstracts/variables";
@import "../abstracts/_mixins";

/* ESTILOS PARA SECCIÓN DE INICIO */
@font-face {
    font-family: "fuente-inicio";
    src: url(../fuente/SantEliaRoughAlt-BoldThrDEMO.otf);
}

.inicio {
    background-image: url(../img/portada-pagina.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-ini {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(50, 31, 22, 0.5); 
    padding: 20px; 
    text-align: center; 
    border-radius: 10px; 
}

.tituloIni {
    font-family: "fuente-inicio", sans-serif; 
    color: $color-detalles;
    margin-bottom: 10px;
}

.subTituloIni {
    font-family: "fuente-inicio", sans-serif; 
    color: rgba(245, 245, 245, 0.8);
    margin-bottom: 20px; 
}

.boton-productos {
    display: inline-block; 
    width: 200px;
    padding: 10px 20px;
    background-color: #bd9a52; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 8px; 
}

.boton-productos:hover {
    background-color: #65442e;
}

@media (min-width: 768px) {
    body {
        width: 100%;
        background-attachment: fixed;
    }
}
