// IMPORT
@import "../abstracts/_mixins";

/* ESTILOS DE SECCIÓN DE PRODUCTOS */

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
    .item {
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        .textosUno {
            h2 {
                @include text-center;
                font-family: 'Arial', sans-serif;
                font-size: 32px;
                font-weight: bold;
                color: #333;
                text-align: center;
                padding: 10px 0;
                margin: 20px 0;
                background-color: $color-detalles;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            p {
                @include text-center;
            }
        }
        .imgUno {
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
                border: 1px solid #ccc;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            }
        }
        .textosDos {
            h2 {
                @include text-center;
                font-family: 'Arial', sans-serif;
                font-size: 32px;
                font-weight: bold;
                color: #333;
                text-align: center;
                padding: 10px 0;
                margin: 20px 0;
                background-color: $color-detalles;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            p {
                @include text-center;
            }
        }
        .imgDos {
            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
                border: 1px solid #ccc;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

/* MEDIA QUERIES DE LA SECCIÓN PRODUCTOS */

@media (max-width: 767px) {
    .productos {
        grid-template-columns: 1fr;
    }
}
